<div id="strona">
  <div class="container">
  <div id="baton">
    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn">button</a>
  </div>
  </div>
</div>
